body {
    margin: 0
}

/* Styles for the header */
.header {
    background-color: #1F2937;
    /* color: white; */
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.header-list {
    font-size: 18px;
    color: #E5E7Eb;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    display: flex;
}

/* Styles for the hero section */
.hero-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 85px 85px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 300px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7Eb;
    width: 400px;
}

.hero-image {
    color: #E5E7Eb;
    font-size: 18px;
    /* length: 200px; */
    padding: 100px;
    background-color: gray;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 8px;
}